body {
    padding-top: 70px;
    padding-bottom: 40px;
}

.pad-top-25 {
    padding-top: 25px;
}

.pad-bottom-35 {
    padding-bottom: 25px;
}

.margin-top-10 {
	margin-top: 10px;
}

.hideMe {
    -moz-animation: cssAnimation 0s ease-in 1s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 1s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 1s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 1s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    padding-bottom: -4px;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*Latest tooltip with black letters and white background*/
.tooltip.bottom .tooltip-inner { background-color: #ffffff; color: #444444; -moz-box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.4); box-shadow: 0 -2px 10px rgba(0,0,0,0.4); font-family: "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif; text-align: justify; padding: 10px; font-weight:bold}
.tooltip.top .tooltip-inner { background-color: #ffffff; color: #444444; -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4); box-shadow: 0 2px 10px rgba(0,0,0,0.4); font-family: "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif; text-align: justify; padding: 10px; font-weight:bold}
.tooltip.left .tooltip-inner { background-color: #ffffff; color: #444444; -moz-box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4); box-shadow: 2px 0 10px rgba(0,0,0,0.4); font-family: "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif; text-align: justify; padding: 10px; font-weight:bold}
.tooltip.right .tooltip-inner { background-color: #ffffff; color: #444444; -moz-box-shadow: -2px 0 10px rgba(0, 0, 0, 0.4); -webkit-box-shadow: -2px 0 10px rgba(0, 0, 0, 0.4); box-shadow: -2px 0 10px rgba(0,0,0,0.4); font-family: "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif; text-align: justify; padding: 10px; font-weight:bold}
.tooltip.top .tooltip-arrow { border-top-color: #ffffff; }
.tooltip.bottom .tooltip-arrow { border-bottom-color: #ffffff; }
.tooltip.right .tooltip-arrow { border-right-color: #ffffff;}
.tooltip.left .tooltip-arrow { border-left-color: #ffffff; }
