@(hasLoggedIn: Boolean,categoryList:
List[models.Category],status:Integer, msg:
String,listing:models.Listings, user:models.Users)
<!DOCTYPE html>
<html>
@head("Create new listing, StuMark -- An online marketplace for university community")
<body>

	<div class="container" style="width: 80%">
		@navbar(hasLoggedIn, user) @include_status(status,msg)
		<div class="row">
			<h3>Add Posts</h3>
			<hr>
			@if(listing.ListingType!='O' && listing.ListingType!='R') {
			<form name="addListing" action="/add_listing" method="post"
				class="form-horizontal" enctype="multipart/form-data">    
			}else {
			<form name="updateListing" action="/update_listing" method="post"
				class="form-horizontal" enctype="multipart/form-data">
				<input type="hidden" name="ListingId" value="@listing.ListingId"/>
			}			
				<div class="col-md-6">
					<div class="row">
						<div class="form-group">
							<label class="col-md-4 control-label">Post type</label>
							<div class="col-md-8">
								<select class="form-control" name="ListingType"
									id="listingTypeInfo" tabindex="1" required>
									<option value="">select</option>
									<option value="O" @if(listing.ListingType==
										'O') { selected="selected"} >Offer</option>
									<option value="R" @if(listing.ListingType==
										'R') { selected="selected"} >Request</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">Post title</label>
							<div class="col-md-8">
								<input type="text" value="@listing.Name" class="form-control"
									name="Name" placeholder="Item name" tabindex="2" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">Category</label>
							<div class="col-md-8">
								<select class="form-control" tabindex="3" name="CategoryId"
									required>
									<option value="">select</option> @for(index <- 0 to
									(categoryList.size-1)) {
									<option @if(listing.CategoryId==index+1) { selected="selected"
										} value="@categoryList(index).CategoryId">@categoryList(index).CategoryName</option>
									}
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">Description</label>
							<div class="col-md-8">
								<textarea class="form-control" value="" tabindex="4"
									name="Description" rows="4" required>@listing.Description</textarea>
							</div>
						</div>
						@if(listing.ListingType!='O' && listing.ListingType!='R') {
						<div class="form-group" id="pictureId">
							<label class="col-md-4 control-label">Add Picture</label>
							<div class="col-md-8">
								<div class="input-group">
									<span class="input-group-btn"> <span
										class="btn btn-primary btn-file"> Browse.. <input
											type="file" tabindex="5" name="picture">
									</span>
									</span> <input type="text" id="picture_field" class="form-control"
										readonly>
								</div>
							</div>
						</div>
						}

					</div>
				</div>

				<div class="col-md-6">
					<div class="row">
						<div class="form-group">
							<label class="col-md-4 control-label">Transaction type</label>
							<div class="col-md-8">
								<select id="transactionType" tabindex="6" class="form-control"
									name="TransactionType" required>
									<option @if(listing.TransactionType==
										'R') { selected="selected" }  value="R">Rent</option>
									<option @if(listing.TransactionType==
										'S') { selected="selected" }  value="S">Sell</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">Price</label>
							<div class="col-md-8">
								<div class="row">
									<div class="col-md-6">
										<div class="input-group">
											<input type="text" value="@listing.Price" name="Price"
												tabindex="7" class="form-control" placeholder="Price"
												required
												onkeypress='return event.charCode >= 48 && event.charCode <=57'>
											<div class="input-group-addon">EUR</div>
										</div>
									</div>
									<div class="col-md-6">
										<select id="pricePeriod" class="form-control"
											name="PricePeriod" required>
											<option @if(listing.PricePeriod== 'D') { selected="selected"
												} value="D">Daily</option>
											<option @if(listing.PricePeriod== 'W') { selected="selected"
												} value="W">Weekly</option>
											<option @if(listing.PricePeriod== 'M') { selected="selected"
												} value="M">Monthly</option>
											<option @if(listing.PricePeriod== 'A') { selected="selected"
												} value="A">Annually</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						@if(listing.ListingType!='O' && listing.ListingType!='R') {        
						<div class="form-group">
							<label class="col-md-4 control-label">Item availability</label>
							<div class="col-md-8">
								<div class="input-group" id="from">
									<div class="input-group-addon">From</div>
									<input id="transactionStart" type="text"
										name="TransactionStart" value="1970/10/2" class="form-control">
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
									</div>
								</div>
								<br />
								<div class="input-group" id="to">
									<div class="input-group-addon">Until</div>
									<input id="transactionEnd" name="TransactionEnd" type="text"
										value="1970/10/2" class="form-control">
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">Post expires on</label>
							<div class="col-md-8">
								<div class="input-group" id="expire">
									<input type="text" id="transactionExpire" tabindex="8"
										name="ExpiryDate" value="1970/10/2" class="form-control">
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
									</div>
								</div>
							</div>
						</div>
						}
						<div class="form-group">
							<label class="col-md-4 control-label">Price negotiable</label>
							<div class="col-md-8">
								<div class="checkbox">
									<label> <input tabindex="9" @if(listing.PriceNegotiable) {  checked="checked"      } name="PriceNegotiable"
										type="checkbox">
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-offset-4 col-md-8">
								<button type="submit" tabindex="10"
									class="btn btn-success btn-lg">@if(listing.ListingType!='O' && listing.ListingType!='R') {        Submit your post }else { Update Post }</button>
							</div>
						</div>
					</div>
				</div>
			</form>


		</div>

	</div>

	<script type="text/javascript">
		$(function() {
			
			@if(listing.ListingType!='O' && listing.ListingType!='R') {   
			$('#from').datetimepicker({
				minDate : moment(),
				format : 'YYYY/MM/DD'
			});
			$('#to').datetimepicker({
				minDate : moment(),
				format : 'YYYY/MM/DD'
			});
			$('#expire').datetimepicker({
				minDate : moment(),
				format : 'YYYY/MM/DD'
			});

			$("#from").on("dp.change", function(e) {
				$('#from').val(e.date.format('YYYY/MM/DD'));
				$('#to').data("DateTimePicker").minDate(e.date);
			});
			$("#to").on("dp.change", function(e) {
				$('#to').val(e.date.format('YYYY/MM/DD'));
				$('#from').data("DateTimePicker").maxDate(e.date);
				$('#expire').data("DateTimePicker").minDate(e.date);
			});
			$("#expire").on("dp.change", function(e) {
				$('#expire').val(e.date.format('YYYY/MM/DD'));
			});			
			}
			   $(window).load(function() {
			    	var fullDate = new Date();    
			        var twoDigitDate = fullDate.getDate()+"";if(twoDigitDate.length==1) twoDigitDate="0" +twoDigitDate;
			        var twoDigitMonth = fullDate.getMonth()+"";if(twoDigitMonth.length==1)  twoDigitMonth="0" +twoDigitMonth;
			        var currentDate = fullDate.getFullYear()+ "/" + twoDigitMonth  + "/" + twoDigitDate ;	        
			        
			        	$("#transactionStart").val(currentDate);
			        	$("#transactionEnd").val(currentDate);
				        $("#transactionExpire").val(currentDate);
			        var twoDigitMonth = ((fullDate.getMonth()+1)%12)+"";if(twoDigitMonth.length==1)  twoDigitMonth="0" +twoDigitMonth;
			    	var currentDate = fullDate.getFullYear()+ "/" + twoDigitMonth  + "/" + twoDigitDate ;	        
			    	
				});
		});
	</script>


</body>
</html>