@(hasLoggedIn: Boolean, lists: Map[models.Listings, String],
categoryList: List[models.Category], dummy: String, dummy2: String)
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>StuMark Home</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap-datetimepicker.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/app.css")">
<link rel="shortcut icon" type="image/png"
	href="@routes.Assets.versioned("images/favicon.png")">
<script src="@routes.Assets.versioned("javascripts/jquery.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/app.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/moment-with-locales.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/bootstrap-datetimepicker.js")" type="text/javascript"></script>
</head>

<body>
	<div class="container" style="width: 80%">
		<!-- Navigation bar code -->
		@navbar(hasLoggedIn)

		<!-- Search criteria area -->
		<div class="row">
			<div class="col-md-8">
				<h3>Latest Offers & Requests</h3>
			</div>
			<div class="pull-right pad-top-25">
				<b>@lists.size result(s) </b>
				<!-- TODO: Make it dynamic - Include value based on search, replace 3 -->
			</div>
			<div class="clearfix"></div>
			<hr />

			<div class="col-md-2 well">
				<h3 style="text-align: center; margin-top: 0px">Search</h3>
				<form method="post" action="/search">
					<div class="form-group">
						<label>Keywords</label> <input type="text" name="keywords" class="form-control"
							placeholder="e.g. flat, bike">
					</div>
					<div class="form-group">
						<label>Category</label> <select class="form-control"
							name="categoryId">
							<option value="0">select</option> 
							@for(index <- 0 to (categoryList.size-1)) {
							<option value="@categoryList(index).CategoryId">@categoryList(index).CategoryName</option>
							}
						</select>
					</div>
					<div class="form-group">
						<label>Post type</label> <select name='ltype' class="form-control">
							<option value="0">select</option>
							<option value="O">Offer</option>
							<option value="R">Request</option>
						</select>
					</div>
					<div class="form-group">
						<label>Price (EUR)</label> <input name='price'  type="text" class="form-control"
							placeholder="Maximum">
						<div class="checkbox">
							<label> <input type="checkbox"> Negotiable price
							</label>
						</div>
					</div>
					<div class="form-group">
						<label>Availability</label>
						<div class="input-group" id="from">
							<div class="input-group-addon">From</div>
							<input type="text" name='afrom' class="form-control" placeholder="25.03.2014">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-success btn-block">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						Search
					</button>
				</form>

			</div>

			<!-- Display the list of search fields -->
			<div class="col-md-8" style="overflow: auto; max-height: 600px">
				<!-- Add for loop to add values here based on search result  TODO-->
				@for((list,path) <- lists) {
				<div data-toggle="modal" class="showTooltip listDetails" id="list@list.ListingId" title="Click to view Post details" data-target="#response_message" data-backdrop="false">
					<div class="media">
						@if(path!="") {
							<div class="media-left">
								<img width="100" height="100" class="media-object"
									src="assets/uploaded/@path" alt="Image">
							</div>
						} else {
							<div class="media-left">
								<img width="100" height="100" class="media-object"
									src="assets/images/request.png" alt="Image">
							</div>
						}
						<div class="media-body">
							<div class="pull-left">
								<h4 class="media-heading"><b>@list.Name</b></h4>
							</div>
							<div class="pull-right">
								<span class="label label-warning">Sponsored</span>
							</div>		
							<div class="clearfix"></div>						
							@if(list.PricePeriod == "D") {
								<p><b>Period:</b> Daily</p>
							}
							@if(list.PricePeriod == "W") {
								<p><b>Period:</b> Weekly</p>
							} 
							@if(list.PricePeriod == "M") {
								<p><b>Period:</b> Monthly</p>
							} 
							@if(list.PricePeriod == "Y") {
								<p><b>Period:</b> Yearly</p>
							}					
							<h5><b>Price:</b> @list.Price</h5>
							<h5><b>Description:</b> @list.Description</h5>
							
							<div class="hide" id="listingId">@list.ListingId</div>
							<div class="hide" id="listingTitle">@list.Name</div>
							<div class="hide" id="listingType">@list.ListingType</div>
							<div class="hide" id="listingTransactionType">@list.TransactionType</div>
							<div class="hide" id="listingCategory">@categoryList(list.CategoryId-1).CategoryName</div>
							<div class="hide" id="listingPrice">@list.Price</div>
							<div class="hide" id="listingPeriod">@list.PricePeriod</div>
							<div class="hide" id="listingFrom">@list.TransactionStart</div>
							<div class="hide" id="listingTill">@list.TransactionEnd</div>
							<div class="hide" id="listingNegotiable">@list.PriceNegotiable</div>
							<div class="hide" id="listingDescription">@list.Description</div>
							<div class="hide" id="listingUserId">@list.UserId</div>
							<div class="hide" id="listingImgPath">@path</div>
						</div>
					</div>
				</div>
				<br>
				}
			</div>

			<div class="col-md-2">
				<div class="well">

					<a
						href="http://nic.tech/?utm_source=aw&utm_medium=banner&utm_campaign=New_DEV_ST_H"
						target="_blank"> <img border="0" width="100%" height="350px"
						class="img_ad"
						alt="Want to advertise on our site? We offer access to university staff, students and alumni."
						src="/assets/images/Tech_Revolution.gif">
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="response_message" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true" tabindex="-1">
		<div class="modal-dialog standard-modal">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h2 style="text-align: center">Post Details</h2>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<table class="pull-left col-md-8 ">
							<tbody>
								<tr>
									<td class="h4"><strong>Type</strong></td>
									<td></td>
									<td class="h4" id="postType">Offer</td>
								</tr>
								<tr>
									<td class="h4"><strong>Wants to</strong></td>
									<td></td>
									<td class="h4" id="postTransactionType">Rent</td>
								</tr>
								<tr>
									<td class="h4"><strong>Title</strong></td>
									<td></td>
									<td class="h4" id="postTitle">Mountain Bike</td>
								</tr>
								<tr>
									<td class="h4"><strong>Category</strong></td>
									<td></td>
									<td class="h4" id="postCategory">Motor</td>
								</tr>
								<tr>
									<td class="h4"><strong>Price</strong></td>
									<td></td>
									<td class="h4" id="postPrice">30 Euro</td>
								</tr>
								<tr>
									<td class="h4"><strong>Period</strong></td>
									<td></td>
									<td class="h4" id="postPeriod">Weekly</td>
								</tr>
								<tr>
									<td class="h4"><strong>Available From</strong></td>
									<td></td>
									<td class="h4" id="postFrom">09.03.2015</td>
								</tr>
								<tr>
									<td class="h4"><strong>Available Till</strong></td>
									<td></td>
									<td class="h4" id="postTill">09.05.2015</td>
								</tr>
								<tr>
									<td class="h4"><strong>Negotiable</strong></td>
									<td></td>
									<td class="h4" id="postNegotiable">Yes</td>
								</tr>
								<tr>
									<td class="h4"><strong>Description</strong></td>
									<td></td>
									<td class="h4" id="postDescription">Renting a mountain bike</td>
								</tr>
							</tbody>
						</table>

						<div class="col-md-4">
							<img src="" alt="Img" id="postImg"
								class="img-thumbnail">
						</div>
						<textarea id="postResponse" class="col-md-12"
							style="min-height: 80px;margin-top: 10px" placeholder="Enter your response message"></textarea>

						<div class="clearfix"></div>
						<div class="hide" id="postListingId"></div>
						<div class="hide" id="postUserId"></div>

					</div>
				</div>
				<div class="modal-footer">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-2">
								<button class="btn btn-default pull-left">Close</button>
							</div>
							@if(hasLoggedIn) {
							<div class="col-md-8"></div>
							<div class="col-md-2">
								<button class="btn btn-primary pull-right">Respond to
									post</button>
							</div>
							} else {
							<div class="col-md-8">
								<p
									style="text-align: left; padding-top: 5px; padding-left: 25px; color: red">Please
									login to respond to this post</p>
							</div>
							<div class="col-md-2">
								<button class="btn btn-primary pull-right" disabled>
									Respond to post</button>
							</div>
						</div>
						}

					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$(function() {
			$('#from').datetimepicker({
				minDate : moment(),
				format : 'DD.MM.YYYY'
			});
			$('#to').datetimepicker({
				minDate : moment(),
				format : 'DD.MM.YYYY'
			});
			$('#expire').datetimepicker({
				minDate : moment(),
				format : 'DD.MM.YYYY'
			});

			$("#from").on("dp.change", function(e) {
				$('#from').val(e.date.format('DD.MM.YYYY'));
				$('#to').data("DateTimePicker").minDate(e.date);
			});
			$("#to").on("dp.change", function(e) {
				$('#to').val(e.date.format('DD.MM.YYYY'));
				$('#from').data("DateTimePicker").maxDate(e.date);
				$('#expire').data("DateTimePicker").minDate(e.date);
			});
			$("#expire").on("dp.change", function(e) {
				$('#expire').val(e.date.format('DD.MM.YYYY'));
			});
		});
	</script>
</body>
</html>