@(status:Integer, msg:String)

<div class="row col-md-11 .col-md-offset-1">
	@if(status == 201) {
	<div class="alert alert-danger" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Error:</span> @msg
	</div>
	<script>
		window.setTimeout(function() { $(".alert-danger").alert('close'); }, 2000);
	</script>
	} @if(status == 202) {
	<div class="alert alert-success" role="alert">
		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		<span class="sr-only">Success:</span> @msg
	</div>
	<script>
		window.setTimeout(function() { $(".alert-success").alert('close'); }, 2000);
	</script>
	}
</div>

