@(hasLoggedIn: Boolean, sent: List[utils.MessageList], recieved:
List[utils.MessageList], user:models.Users)
<!DOCTYPE html>
<html>
@head("Your Messages")
<body>

	<div class="container" style="width: 80%">
		<!-- Navigation bar code -->
		@navbar(hasLoggedIn, user)

		<div class="row">
			<div class="pull-left">
				<h3>Messages</h3>
			</div>
			<div class="pull-right pad-top-25">
				<!-- <b>{{messages.length}} message(s) </b> -->
				<b>@sent.size message(s) </b>
			</div>
			<div class="clearfix"></div>
			<hr />
			<div class="col-md-9">


				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#sent"
						aria-controls="sent" role="tab" data-toggle="tab">Sent</a></li>
					<li role="presentation"><a href="#recieved"
						aria-controls="recieved" role="tab" data-toggle="tab">Recieved</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="sent">
						<div class="form-group">
							<input type="text" id="sent_filter" placeholder="Filter" 
								class="form-control margin-top-10">
						</div>
						<table class="table table-striped">
							<thead>
								<tr>
									<th>To</th>
									<th>Listing Name</th>
									<th>Message</th>
								</tr>
							<thead>
							<tbody class="sent_searchable">
								@for(index <- 0 to (sent.size-1)) {
								<tr>
									<input type="hidden" name="from_id"
										value="@sent(index).ToUserId" />
									<td>@sent(index).usrname</td>
									<td>@sent(index).Listing_name</td>
									<td>@sent(index).Message</td>
								</tr>
								}
							</tbody>
						</table>

					</div>
					<div role="tabpanel" class="tab-pane" id="recieved">

						<div class="form-group">
							<input type="text" id="received_filter" placeholder="Filter"
								class="form-control margin-top-10">
						</div>
						<table class="table">
							<thead>
								<tr>
									<th>From</th>
									<th>Listing Name</th>
									<th>Message</th>
									<th>Respond</th>
								</tr>
							<thead>
							<tbody class="received_searchable">
								@for(index <- 0 to (recieved.size-1)) {
								<tr>
									<input type="hidden" name="from_id"
										value="@recieved(index).ToUserId" />
									<td>@recieved(index).usrname</td>
									<td>@recieved(index).Listing_name</td>
									<td>@recieved(index).Message</td>
									<td>
										<button class="btn btn-primary" data-toggle="modal"
											data-target="#response_message" data-backdrop="false">Respond</button>

									</td>
								</tr>
								}
							</tbody>
						</table>


					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="well">

					<a
						href="http://nic.tech/?utm_source=aw&utm_medium=banner&utm_campaign=New_DEV_ST_H"
						target="_blank"> <img border="0" width="100%" height="350px"
						class="img_ad"
						alt="Want to advertise on our site? We offer access to university staff, students and alumni."
						src="/assets/images/Tech_Revolution.gif">
					</a>
				</div>
			</div>

			<div class="modal fade" id="response_message" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true" tabindex="-1">
				<div class="modal-dialog standard-modal">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h2 style="text-align: center">Respond to the offer</h2>
						</div>
						<div class="modal-body">
							<div class="container-fluid">
								<textarea class="col-sm-12" style="min-height: 250px;"
									id="user_text" placeholder="Enter response message"></textarea>
							</div>
						</div>
						<div class="modal-footer">
							<div class="container-fluid">
								<div class="row">
									<button class="btn btn-default pull-left">Close</button>
									<button class="btn btn-primary pull-right">Send</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {

			(function($) {

				$('#sent_filter').keyup(function() {

					var rex = new RegExp($(this).val(), 'i');
					$('.sent_searchable tr').hide();
					$('.sent_searchable tr').filter(function() {
						return rex.test($(this).text());
					}).show();

				});
				
				$('#received_filter').keyup(function() {

					var rex = new RegExp($(this).val(), 'i');
					$('.received_searchable tr').hide();
					$('.received_searchable tr').filter(function() {
						return rex.test($(this).text());
					}).show();

				})

			}(jQuery));

		});
	</script>


</body>
</html>