@(hasLoggedIn: Boolean, lists: List[utils.Listing], status:Integer,
msg:String,categoryList: List[models.Category], user:models.Users)
<!DOCTYPE html>
<html>
<head>
@head("All Offers -- Stumark -- An online market place for university community")
</head>

<body>
	<div class="container">
		@navbar(hasLoggedIn, user) @include_status(status,msg)
		<div class="row">
			<div class="col-md-10">
				<h3>All Offers</h3>
			</div>
			<div class="pull-right pad-top-25">
				<b>@lists.size result(s) </b>
			</div>
			<div class="clearfix"></div>
			<hr />
		</div>
		<div class="row">
			@search(categoryList, "Offer")
			<div class="col-md-7 mCustomScrollbar listings"
				style="height: 500px; overflow: auto;" data-mcs-theme="dark">
				@loopListing(lists)</div>
			<div class="col-md-2">
				<div class="well">
					<a
						href="http://nic.tech/?utm_source=aw&utm_medium=banner&utm_campaign=New_DEV_ST_H"
						target="_blank"> <img border="0" width="100%" height="350px"
						class="img_ad"
						alt="Want to advertise on our site? We offer access to university staff, students and alumni."
						src="/assets/images/Tech_Revolution.gif">
					</a>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$(function() {
			$('#from').datetimepicker({
				minDate : moment(),
				format : 'DD.MM.YYYY'
			});
			$('#to').datetimepicker({
				minDate : moment(),
				format : 'DD.MM.YYYY'
			});
			$('#expire').datetimepicker({
				minDate : moment(),
				format : 'DD.MM.YYYY'
			});

			$("#from").on("dp.change", function(e) {
				$('#from').val(e.date.format('DD.MM.YYYY'));
				$('#to').data("DateTimePicker").minDate(e.date);
			});
			$("#to").on("dp.change", function(e) {
				$('#to').val(e.date.format('DD.MM.YYYY'));
				$('#from').data("DateTimePicker").maxDate(e.date);
				$('#expire').data("DateTimePicker").minDate(e.date);
			});
			$("#expire").on("dp.change", function(e) {
				$('#expire').val(e.date.format('DD.MM.YYYY'));
			});
		});
	</script>
</body>
</html>