@(hasLoggedIn:Boolean,Listing:utils.Listing, user:models.Users)
<!DOCTYPE html>
<html>
@head(Listing.listing.Name + " -- Listing details")
<body>
	@navbar(hasLoggedIn, user)
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-11 col-md-offset-1">
				@if(Listing.listing.ListingType=='O') {
				<h3>Showing Offer details for @Listing.listing.Name</h3>
				} else {
				<h3>Showing Request details for @Listing.listing.Name</h3>
				}
			</div>
			<hr />
		</div>
		<div class="row">
			<div class="col-md-11 col-md-offset-1">
				<div class="row">
					<div class="col-md-1">
						@if(Listing.path!="") {
							<div class="media-left">
								<img style="max-width:300px; max-height: 400px" class="media-object thumbnail"
									src="assets/uploaded/@Listing.path" alt="Image">
							</div>
						} else {
							<div class="media-left">
								<img style="max-width:300px; max-height: 400px" class="media-object thumbnail"
									src="assets/images/request.png" alt="Image">
							</div>
						}
					</div>
					<div class="col-md-8 col-md-offset-2">
						<div class="row">
							<div class="col-md-12">
							
								@if(hasLoggedIn && Listing.isOwner) { 
									<p class="col-md-12">
										<a class="btn btn-primary btn-xs" style="width:50px;" href="/edit_listing?lid=@Listing.listing.ListingId">Edit </a> 
										<a class="btn btn-primary btn-xs" style="width:50px;" href="/delete_listing?lid=@Listing.listing.ListingId"
										onclick="return confirm('Are you sure??')">Delete</a> 
									</p>
								}
								<p class="col-md-3"><strong>Article name</strong></p>
								<p class="col-md-9">@Listing.listing.Name</p>
								
								<p class="col-md-3"><strong>Category</strong></p>
								<p class="col-md-9">@Listing.categoryName</p>
								
								@if(Listing.listing.ListingType=='R') {
									<p class="col-md-12"><strong>Willing to pay</strong></p>
								} @if(Listing.listing.TransactionType=='B') {
									<p class="col-md-3"><strong>Looking to buy for price</strong></p>
									<p class="col-md-9">@Listing.listing.Price</p>
								} @if(Listing.listing.TransactionType=='R'){
									<p class="col-md-3"><strong>Looking to rent for price</strong></p>
									@if(Listing.listing.PricePeriod == "D") {
										<p class="col-md-9">@Listing.listing.Price / Day </p>
									}
									@if(Listing.listing.PricePeriod == "W") {
										<p class="col-md-9">@Listing.listing.Price / Week </p>
									}
									@if(Listing.listing.PricePeriod == "M") {
										<p class="col-md-9">@Listing.listing.Price / Month </p>
									}
									@if(Listing.listing.PricePeriod == "Y") {
										<p class="col-md-9">@Listing.listing.Price / Year </p>
									}
									
									
									
								} @if(Listing.listing.TransactionType=='S') {
									<p class="col-md-3"><strong>Looking to sell for price</strong></p>
									<p class="col-md-9">@Listing.listing.Price </p>
								} 
								<p class="col-md-3"><strong>Price negotiable</strong></p>
								
								@if(Listing.listing.PriceNegotiable) {
									<p class="col-md-9">Yes</p>
								} else {
									<p class="col-md-9">No</p>
								}
								<p class="col-md-3"><strong>Description:</strong></p>
								<p class="col-md-9">@Listing.listing.Description</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-11 col-md-offset-1">
				<h3>Messages</h3>
				@if(!hasLoggedIn) {<p>Please login to view the messages</p>} else {
				@if(Listing.isOwner) { @if(Listing.msg_map.size > 0) {
				@for((key,value) <- (Listing.msg_map)) { <a class="btn btn-primary"
					role="button" data-toggle="collapse" href="#conv@key.FirstName"
					aria-expanded="false" aria-controls="conv@key.FirstName"><p>From
						user @key.FirstName</p></a>
				<div class="collapse" id="conv@key.FirstName">
					<br> @for(index <- 0 to (value.size-1)) {
					<div class="row">
						<div class="col-md-8 col-md-offset-1">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										@value(index).usrname said
										<div class="pull-right">on @value(index).date</div>
									</h3>
								</div>
								<div class="panel-body">@value(index).Message</div>
							</div>
						</div>
					</div>
					}
					<div class="row">
						<div class="col-md-8 col-md-offset-1">
							<form action="/post_message" method="post">
								<div class="form-group">
									<input type="hidden" name="ListingId"
										value="@Listing.listing.ListingId" /> 
									<input type="hidden"
										name="ToUserId" value="@key.UserId" /> 
									<textarea placeholder="Type your message" class="form-control" rows="5" cols="10" name="Message" tabindex="1"></textarea>
									<input type="submit" class="btn btn-success" style="margin-top: 5px;" 
										tabindex="2" value="Send message" />
								</div>
							</form>
						</div>
					</div>
				</div>
				} }else {
				<p>You have not received any messages</p>
				} } @if(!Listing.isOwner) { @if(Listing.messages.size > 0) {
				@for(index <- 0 to (Listing.messages.size-1)) {
				<div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								@Listing.messages(index).usrname said
								<div class="pull-right">on @Listing.messages(index).date</div>
							</h3>
						</div>
						<div class="panel-body">@Listing.messages(index).Message</div>
					</div>
				</div>
				} }else {
				<p>You have not responded to this</p>
				}
				<form action="/post_message" method="post">
					<div class="form-group">
						<input type="hidden" name="ListingId" value="@Listing.listing.ListingId" /> 
						<input type="hidden" name="ToUserId" value="@Listing.listing.UserId" />
						<textarea placeholder="Type your message" class="form-control" rows="5" cols="10" name="Message" tabindex="1"></textarea>
						<input type="submit" class="btn btn-success" style="margin-top: 5px;" 
							tabindex="2" value="Send message" />
					</div>
				</form>
				} }

			</div>
			<hr />
		</div>

	</div>
</body>
</html>